
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins,sans-serif;
}













.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 4rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  display: none;
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}


.navv {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
  
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 25px;
}

.navv:hover div {
  width: 30px;
}





  
.hidden{
  display: none;
}


















.Main-Container {
  background: url("../img/bg.jpg");
  background-size: cover;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e0e0e0;
  text-align: center;
  padding-bottom: 35%;
}

.logo {
  width: 4em;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
  font-weight: 700;
  text-transform: uppercase;
}


.Nav-Links {
  display: flex;
  align-items: center;
  gap: 3em;
  font-size: 1.2rem;
}
.Nav-Links a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #e0e0e0;
  display: block;

}
.Nav-Links a:hover {
  transition: .2s ease-in-out;
  border-color: #fff;
}

@media  (max-width: 700px) {
  .Nav-Links a {
    display: none;
  }
}




.Main-Text {
  padding-top: 7em;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: -20px;
}

.View-Projects{
font-size: 1.4rem;
background-color: transparent;
border: 2px solid rgb(224,224,224);
font-weight: 700;
color: #e0e0e0;
cursor: pointer;
padding: 0.5em 0.8em;
border-radius: 25px;
background-color: #43434399;
}

.View-Projects:hover {
  transform: scale(1.05);
  transition: .2s ease-in-out;
  background-color: #fff0;
}


.About-Section {
  text-align: center;
  position: relative;
  height: auto;
  padding: 10% 15% 15%;
  background-color: #0b0f23;
  margin-bottom: 35rem;
}

@media (max-width: 700px){
.About-Section {
    padding-right: 5%;
    padding-left: 5%;
}
}
@media (max-width: 900px){
  .About-Section {
    margin-bottom: 60rem;
  }
  }
  @media (max-width: 610px){
    .About-Section {
      margin-bottom: 70rem;
    }
    }


.About-Me {
  color: #fff;
  font-size: 1.8rem;
  
}


.About-Text {
  padding: 0 15% 2%;
  line-height: 1.8;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: 1em;
}



@media (max-width: 700px){
  .About-Text {
      font-size: .9rem;
  }
  }
  
  @media (max-width: 1100px){
  .About-Text {
    font-size: 1.2rem;
    padding: 0 0 10%;
  }
  }


.About-Links {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.hover {
  --c:linear-gradient(rgb(0, 251, 255) 0 0); /* update the color here */
  
  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}
.hover:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}

.About-Links a:hover {
  font-size: 20px;
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);

}


.Skills-Title {
  padding: 1em 0;
  font-size: 1.5rem;
}

.Skills-Title span {
  position: absolute;
  background-color: #743f5b;
  height: 0.5em;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 3rem;
  border-radius: 25px;
  bottom:41px ;
}


.Projects-Section-Title, .Contact-Title, .Skills-Title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1em;
}






.About-Skills {
  background-color: #efefef;
  border-radius: 25px;
  height: auto;
  position: absolute;
  color: #000;
  width: 50%;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-color: #e0e0e0;
}

@media (max-width: 1100px){
.About-Skills {
    width: 70%;
}
}


@media (max-width: 1100px){
.About-Skills h1, .Project-title h1, .Contact-Container h1 {
    text-align: center;
    font-size: 2.5rem;
}
}


@media (max-width: 1100px){
.About-Skills-Container {
    font-size: 1.4rem;
}
}
.About-Skills-Container {
    display: flex;
    padding: 3em;
    gap: 2em;
    font-size: 1.7rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.About-Skills-Card {
  color: #e0e0e0;
  padding: 0.2em 1em;
  border-radius: 25px;
  background-color: #171d3d;
  cursor: pointer;
}

.About-Skills-Card:hover {
  transition: .1s ease-in-out;
  background-color: #743f5b;
}

@media  (max-width: 1290px) {
  .Project-Section {
    padding-top: 100em; 
  }
}

.Project-Section {
    background-color: #fff;
    padding-top: 30em;
    text-align: center;
}



.project-title {
  position: relative;
  text-transform: uppercase;
  padding-top: 3em; 
}


@media (max-width: 1150px){
.Project-title h1 {
    font-size: 2.5rem;
}
}
.Project-Section h1 {
    font-size: 3rem;
}



@media (max-width: 750px){
.Project-container .cardd .card__face--back {
    gap: 2em;
}
}
.Project-container {
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: center;
    gap: 7em;
    padding-bottom: 10%;
    padding: 5em 10em;
    width: 80dvw;
    border-radius: 25px;
    background-color: #efefef;
    gap: 2em;
}





@media (max-width: 1150px){
.Project-container {
    flex-direction: column;
}}
@media (max-width: 1300px){
.Project-container {
    font-size: 1.5rem;
}}
@media (max-width: 1500px){
.Project-container {
    padding: 5em 2em;
}}
@media (max-width: 1500px){
.Project-container {
    font-size: 1.5rem;
}}
@media (max-width: 1700px){
.Project-container {
    width: 90%;
}}















.Project-text {
  text-align: start;
  padding-bottom: 1em;
  font-size: 1.1rem;
}


@media (max-width: 550px){
.Project-text {
    font-size: .8rem;
}
}
@media (max-width: 1150px){
.Project-text {
    text-align: center;
}
}

.Project-text h3 {
  font-size: 2rem;
  padding-bottom: 0.5em;
  margin-bottom: 10px;
}
.Project-text p {
  color: #3b3b3b;
}

.Project-text a {
  padding: 0.4em 2em;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.Live-Preview {
  border: none;
  color: #fff;
  background-color: #171d3d;
}
.More-Info {
    border: none;
    background-color: #743f5b4d;
    color: #171d3d;
    border: 5px solid #743f5b;
}
.Project-Text-Buttons {
  padding: 2em 1em 1em 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.Live-Preview:hover {
  background-color: #262f61;
  transition: .3s ease-in-out;
}

.More-Info:hover {
  background-color: #743f5b;
  border-color: #743f5b;
  color: #fff;
  transition: .3s ease-in-out;
}





.custom-shape-divider-bottom-1695133876 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1695133876 .shape-fill {
  fill: #834a68;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to your preference */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay-text {
  color: #fff;
  font-size: 16px;
  text-align: center;}

.footer-col{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.footer {
  background-color: black !important ;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: orange;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


#ecom{
  margin-bottom: 100px;
}

@media (max-width: 470px) {
  #ecom{
    margin-bottom: 250px;
  }
  
}
@media (max-width: 1199px) {
  #ecom{
    margin-bottom: 270px;
  }
  
}

.margin-text{
  margin: 10px 10px;
  padding: 10px 10px;

}
.cardd {
  margin-bottom: 20px;
  position: relative;
  /* Other styles remain the same */
  transform-style: preserve-3d;
  transition: transform 1s;
}
.cardd.is-flipped {
  display: flex;
  margin-bottom: 20px !important;
  background-color: #efefef;
  transform: rotateY(180deg);
  height: 600px;
}
.flippable-section{
  margin-bottom: 100px;
}


@media (max-width: 1000px) {
  .cardd.is-flipped  {
    height: 867px;
  }
}
@media (max-width: 770px) {
  .cardd.is-flipped  {
    height: 1046px;
  }
}

@media (max-width: 550px) {
  .cardd.is-flipped  {
    height: 1100px;
  }
}

@media (max-width: 427px) {
  .cardd.is-flipped {
    height: 1250px;
  }
}
.card__face {
  /* Other styles remain the same */
  backface-visibility: hidden;
}

.card__face--front {
  /* No additional styling */
}

.card__face--back {
  margin-bottom: 50px;
  border-radius: 10px;
  color: black;
  background-color: #efefef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* No additional rotation needed */
  transform: rotateY(180deg);
}

.insideText{
  padding: 10px 10px;
  border: solid black;
  border-radius: 10px;
  margin-bottom: 14px;

}
.insideText h1 p {
  font-size: 0.5rem,;
}
.insideText h1 {
  font-size: 20px !important;
}

